    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        padding: 10px 100px;
        box-sizing: border-box;
        transition: .3s;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
      }
      p {
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
        font-size: 30px;
        margin: 70px;
      }
      body {
        background-color: lightblue;
      }
      h1 {
        font-size: 35px;
        color: white;
        text-align: center;
        margin: 80px;
      }

      h2 {
        font-size: 15px;
        color: white;
        text-align: center;
        margin: 80px;
      }
      ul {
        list-style-type: none;
        margin: 0px;
        padding: 00px;
        overflow: hidden;
        margin: 70px;
      }
      li {
          float: left;
          margin: 70px;
          padding: 50px;
      }

      li a {
          font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
          font-size: 30px;
          display: block;
          padding: 50px;
          background-color: lightblue;
          margin: 70px;
      }
      body {
        margin:80px;
        padding:70px
      }

    @media screen and (max-width: 800px) {

        .leftcolumn,
        .rightcolumn {
            width: 100%;
            padding: 0;
        }
    }