      p {
        font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
        font-size: 30px;
        margin: 70px;
      }
      body {
        background-color: lightblue;
        margin:80px;
        padding:70px
      }
      h1 {
        font-size: 35px;
        color: white;
        text-align: center;
        margin: 80px;
      }

      h2 {
        font-size: 15px;
        color: white;
        text-align: center;
        margin: 80px;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
        position: fixed;
        top: 0;
        width: 100%;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: #111;
    }

    @media screen and (max-width: 800px) {

        .leftcolumn,
        .rightcolumn {
            width: 100%;
            padding: 0;
        }
    }